@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family:'roboto', sans-serif;
}

.container{
    padding: 56px 0;
    width: 100%;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.red {
    color: #D0313D;
}

.btn {
    background-color: #D0313D;
    color: white;
    padding: 12px 40px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    display: flex;
}


.overlay {
    width: 100%;
    height: 100%;
    background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/28402147-92a1-4060-be7f-0444dbae3bf8/dbhehvt-db573295-0c15-47b1-b271-cffb86b6f241.jpg/v1/fill/w_1024,h_640,q_75,strp/anime_collage_wallpaper_by_dinocojv_d8ayeyz_by_sayaky946_dbhehvt-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvMjg0MDIxNDctOTJhMS00MDYwLWJlN2YtMDQ0NGRiYWUzYmY4XC9kYmhlaHZ0LWRiNTczMjk1LTBjMTUtNDdiMS1iMjcxLWNmZmI4NmI2ZjI0MS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.AE7TWKeWgQjfp5wEtqLXWa7Rj4J1pLT21mBzJCQjroc);
    background-repeat:no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
}

/* Nav */


nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__img {
    height: 75px;
    padding-right: 12px;

}

.nav__logo{
    display: flex;
    align-items: center;
    

}

.nav__logo__heading {
font-size: 20px;
font-weight: 400;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list--link {
    list-style: none;
    padding: 0 15px;
    font-size: 20px;
}

/* header */



.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__h1 {
    font-size: 40px;
    margin-bottom: 30px;
    max-width: 570px;
    text-align: center;
}

.header__h2 {
    font-size: 32px;
}

.header__search--bar {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid white;
    
    height: 55px;
    padding: 8px 300px;
    width: 100%;
    font-size: 24px;
    padding-left: 20px;
    margin: 32px 0;
    color: black;
}

/*

results 
*/


#results {
    background-color: white;
}

.results__container {
    background-color: white;
}